* {
    padding:0;
    margin:0;
}

@font-face {
    font-family:SourceSansProRegular;
    src:url(../Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)
}

@font-face {
    font-family:SourceSansProBoldItalic;
    src:url(../Fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf)
}

@font-face {
    font-family:SourceSansProBold;
    src:url(../Fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf)
}

body {
    font-family:SourceSansProRegular;
}

h1 {
    font-size:35px;
    font-family:SourceSansProBoldItalic;
}

h2 {
    font-family:SourceSansProBoldRegular;
}

/* HEADER */
.logo {
    position: absolute;
    top:41px;
    height:90px;
    margin:10px;
}

.contactbalk {

    display:inline-block;
    display:flex;
    width: auto;
    height: 41px;
}
 
header {
    position:relative;
 }

.contactbalk p {
    padding: 10px;
    font-size: 20px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: end;
}

.menu a {
    display:flex;
    display: inline-block;
    padding: 10px;
    padding-top:40px;
    margin-right:30px;
    color:white;
    font-size: 30px;
    text-decoration: none;
    font-style: italic;
}

nav {
    background-color: #0B112E;
    height: 110px;
}

.gebouwen {
    width: 100%;
}

.intakegesprek {
    position:absolute;
    color:black;
    text-decoration: none;
    text-align:center;
    background-color: white;
    font-size: 25px;
    top: 575px;
    left: 300px;
    width: 361px;
    border:3px solid #0B112E;
    border-radius:12px;
    display:block;
    padding:16px 5px;
    font-family:SourceSansProBold;
}

.telefoonnummer {
    position:absolute;
    color:black;
    text-decoration: none;
    text-align:center;
    background-color: white;
    font-size: 25px;
    top: 575px;
    right:300px;
    width: 361px;
    border:3px solid #0B112E;
    border-radius:12px;
    display:block;
    padding:16px 5px;
    font-family:SourceSansProBold;
}


/*RECHTSGEBIEDEN*/

.rechtsgebieden{
    display:flex;
    justify-content: center;
    margin-top: 115px;
}

.zwartblokstrafrecht {
    position:absolute;
    background-color: black;
    width:358px;
    height:165px;
    left:275px;
    margin-top:115px;
    display:block;
}

.strafrecht {
   position:absolute;
    background-color: #454E6C;
    height:261px;
    width:358px;
    text-align: center;
    color: white;
    left:275px;
    margin-top:280px;
    font-size: 20px;
}

 .strafrechtleesmeer {
    position:absolute;
    text-decoration: none;
    background-color: white;
    color:black;
    text-align: center;
    border: 1px solid #081141;
    border-radius: 12px;
    width: 141px;
    top:175px;
    left:95px;
    display:block;
    padding:10px;
 }

 .zwartblokinternationaal {
    position:absolute;
    background-color: black;
    width:358px;
    height:165px;
    right:275px;
    margin-top:115px;
}

 .internationaalrecht {
    position:absolute;
    background-color: #454E6C;
    height:261px;
    width:358px;
    text-align: center;
    color: white;
    right:275px;
    margin-top: 280px;
    font-size: 20px;
 }

.internationaalrechtleesmeer {
    position:absolute;
    text-decoration: none;
    background-color: white;
    color:black;
    text-align: center;
    border: 1px solid #081141;
    border-radius: 12px;
    width: 141px;
    top:175px;
    right:95px; 
    display:block;
    padding:10px;
}

.zwartblokrechtspraktijk {
    position:absolute;
    background-color: black;
    width:358px;
    height:165px;
    left:275px;
    top: 1500px;
 }

.rechtspraktijk {
    position:absolute;
    background-color: #454E6C;
    height:261px;
    width:358px;
    text-align: center;
    color: white;
    left:275px;
    top:1665px;
    font-size: 20px;
}

.rechtspraktijkleesmeer {
    position:absolute;
    text-decoration: none;
    background-color: white;
    color:black;
    text-align: center;
    border: 1px solid #081141;
    border-radius: 12px;
    width: 141px;
    top:175px;
    right:95px; 
    display:block;
    padding:10px;
}

.zwartblokvog {
    position:absolute;
    background-color: black;
    width:358px;
    height:165px;
    right:275px;
    top:1500px;
 }

.vog {
    position:absolute;
    background-color: #454E6C;
    height:261px;
    width:358px;
    text-align: center;
    color: white;
    right:275px;
    top:1665px;
    font-size: 20px;
}

.vogleesmeer {
    position:absolute;
    text-decoration: none;
    background-color: white;
    color:black;
    text-align: center;
    border: 1px solid #081141;
    border-radius: 12px;
    width: 141px;
    top:175px;
    right:95px; 
    display:block;
    padding:10px;
}


/*meeste gestelde vragen */

.afbeeldingvragen {
    float: right;
    margin:305px 55px;
}

.veelgesteldeVragen {
    background-color: #EAE5C7;
    margin-top:1250px;
    height:1400px;
}

.veelgesteldeVragen h1 {
    display:flex;
    justify-content: center;
    padding-top:80px;  
}

.nummerblokje1 {
display:flex;
justify-content: center;
position:absolute;
height:59px;
width:59px;
background-color: #454E6C;
color: white;
margin-top:103px;
margin-left:113px;
font-size:25px;
}

.nummerblokje1 p {
    margin-top:13px;
}

.vraag1 {
height:85px;
width: 820px;
background-color: white;
color:black;
border:solid black 1px;
margin-top: 90px;
margin-left: 100px;
}

.vraag1 p {
    margin-left:83px;
    margin-top:13px;
    font-size: 20px;
}

.allevragen {
height:85px;
width: 820px;
background-color: white;
color:black;
border:solid black 1px;
margin-top: 30px;
margin-left: 100px;
}

.allevragen p {
    margin-left:83px;
    margin-top:13px;
    font-size: 20px;
}

.nummerblokje {
    display:flex;
    justify-content: center;
    position:absolute;
    height:59px;
    width:59px;
    background-color: #454E6C;
    color: white;
    margin-top:43px;
    margin-left:113px;
    font-size:25px;
}
    
.nummerblokje p {
   margin-top:13px;
}

.vraagniettussen {
    color:white;
    text-decoration: none;
    text-align:center;
    background-color: #0B112E;
    font-size: 22px;
    width:300px;
    border:1px solid white;
    border-radius:13px;
    margin-left: 100px;
    display:block;
    margin-top: 30px;
    padding: 10px 10px;
}


/* REVIEWS */

.reviewskop {
    display:flex;
    justify-content: center;
    margin-top: 250px;
}

.reviews {
    display:flex;
    margin-top:30px;
    padding:50px;
    justify-content: center;
}

.review1 {
    display:inline-block;
    background-color: #454E6C ;
    width: 376px;
    height: 222px;
    color: white;
    margin:10px; 
}

.review1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.review1 h2 {
    padding-left: 20px;
    font-size: 28px;
    font-style: italic;
}

.review1 i {
    padding-left: 20px;
    font-size: 21px;
}

.rondjes {
    display:flex;
    justify-content:center;
}

.cirkel1 {
    display:inline-block;
    border-radius: 150px;
    background-color: #454E6C;
    width:18px;
    height:18px;
    margin:10px;
}

.cirkeltje {
display:inline-block;
border-radius: 150px;
background-color: #454E6C;
width:18px;
height:18px;
margin:10px;
opacity:15%;
}


/*FOOTER*/

.contactformulierkop {
    display:flex;
    justify-content: center;
    font-size: 20px;
    margin-top:30px;
}

.contactformulier {
    position:absolute;
    background-color: #EAE5C7;
    color: black;
    width: 913px;
    height: 526px;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    margin-top:250px;
}

#rechtsgebieden {
    margin-left:105px;
    height:34px;
    width:679px;
    border-radius: 13px;
    border-color: black;
}

.tekstbalk {
border-radius: 11px;
width: 679px;
height: 42px;
margin-top: 22px;
margin-left:105px;
color:black;
border-style: solid 1px;
border-color: black;
}

.verzendknop {
border-radius: 12px;
width: 287px;
height:39px;
margin-top:30px;
margin-left:105px;
background-color: #0B112E;
color:white;
border: white;
border-style:solid;
font-size:20px;
}

footer {
    background-color: #0B112E;
    width:auto;
    height:720px;
    margin-top:600px;
    color:white;
    font-size: 20px;
}

footer b {
 font-size: 20px;
 font-style: italic;
}

footer h2 {
 font-size: 25px;
 font-style: italic;
}

.footertekst {
    display:flex;
    padding:50px;
    justify-content: center;
}

.footergegevens {
    display:inline-block;
    color: white;
    margin:100px;
    padding-top:100px;
}

.socialmedia {
    display:flex;
    justify-content:center;
}

.socialmediaiconen {
display:inline-block;
height: 50px;
margin-top:-80px;
padding:0px 15px;
}